{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "organizeImportsSkipDestructiveCodeActions": true
}
